{% if messg %}
<script>
    alert('{{ messg }}');
</script>    
{% endif %}
<!DOCTYPE html>
<html lang="es-cl">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WinBip</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'usuario/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'usuario/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/style.css' %}">
</head>

<body>

    <div class="row center-xs ">
        <div class="col-xs-12" id="fondo_inicio">
            <img id="win_logo" src="{% static 'usuario/imagenes/WinBip.png' %}" alt="winbip">
            <nav id="barranav">
                <ul>
                    <h5>
                        <li>
                            <a class="col-xs-3" href="{% url 'inicio2' %}">Inicio</a>
                            <a class="col-xs-3" >|</a>
                            <a class="col-xs-3" href="{% url 'perfil' %}">Mi perfil</a>
                            <a class="col-xs-3" >|</a>
                            <a class="col-xs-3" href="{% url 'premios2' %}"> Premios</a>
                        </li>
                    </h5>

                </ul>
            </nav>
        </div>
    </div>
<div class="col-xs-12 ">
    <div class="row presentacion">
        <div class="col-xs-12">
            <h1 class="center-xs ">
                ¡Hola! Bienvenido a WinBip
                <br>
                <br>

            </h1>
            <div class="row parrafos_iz">
                <div class="col-xs-12 ">
                    <h5 id="izquierda">
                        <p>Estimado transeúnte, tenemos el agrado de enseñarte un nuevo
                            uso/complemento de
                            tu tarjeta bip.
                        </p>
                        <br>

                        <p>
                            Sabemos lo tedioso que es a veces viajar día tras día en las mismas
                            micros y metros de nuestro país; sin ningun tipo de distracción o novedad
                            dentro de las mismas, pero... ¿esto debe ser siempre así?
                            <br>
                            <br>
                            <br>

                            Con la iniciativa WinBip tus viajes y recorridos tendrán un toque más divertido.
                            <br>
                            <br>
                        </p>
                    </h5>

                </div>
            </div>
        </div>
        

    </div>
    

</div>
</div>
    <div class="row center-xs" id="explicacion" >
        <div class="col-xs-12 " id="explicacion_fondo" >
            <h5>
                <br>
                <br>

                La aplicación funcionará asi:
                <br>
                <br>
                <li>
                    - Pagarás tu pasaje de la misma forma que lo haces hasta ahora.
                </li>
                <li>
                    - Entraras a WinBip y deberás <a href="registro.html">registrarte</a> con tus datos y numero de tarjeta.
                </li>
                <li>
                    - Una vez registrado, ya puedes disfrutar de los beneficios de WinBip, donde ganarás puntos cada vez que viajes.
                </li>
                <li>
                    - Con los puntos podras subir niveles y ganar <a href="{% url 'premios'%}">premios</a>.
                </li>


            </h5>

        </div>
    </div>
    <br><br><br><br>
    <footer class="row container-fluid">
            <h5>
                © 2019 WinBip <i>Página no oficial</i>
            </h5>

        </footer>


        <!--JS FILES-->
        <script src="js/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="js/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="js/bootstrap.js"></script>
        <script src="{% static 'usuario/js/app.js' %}"></script>

</body>

</html>